.container {
    display: inline-grid;
    gap:10px;
    grid-template-columns: 400px 400px 400px  ;
  
    justify-content:space-around;
}

.photo {
    width: 400px;
    height: 250px;
    object-fit: cover;
    padding: 0 10px 0 0;
    border-radius: 25px;
}
.location_name:hover{
    text-decoration: underline;
    cursor: pointer;
}
body {
    font-family: 'Poppins', serif;

}