
body {
    font-family: 'Poppins', serif;

}
html{
    font-size: 14px;
}

.header-text{
    text-align: center;
    font-size: 50px;
}
.tabs{
    overflow: hidden;
    text-align: center;
    padding: 30px;
}

.tabs button{
    background-color: white;
    text-align: center;
    border:none;
    color:black;
    font-size: 30px;
    padding: 16px 32px;
    cursor: pointer;
}
.tabs button:hover{
    opacity: 0.6;
    text-decoration: underline;
}
.tabs button:focus{
    text-decoration: underline;
}
.tabs button span{
    padding-left: 10px;
}
.tabcontent{
    display: none;
    text-align: center;
}
.tabcontent input{
    border-radius: 25px;
    width: 800px;
    height: 60px;
    border: 2px groove lightgray;
    font-size: 20px;
    color: black;
    background-image: url(../home/images/search.png);
    background-repeat: no-repeat;
   background-position: 0 14px;
   background-size: 30px 30px;
   padding: 0 30px;
}
.tabcontent input:focus {
    border: 3px solid #555;
  }

.tabcontent button{
    border-radius: 25px;
    font-size: 30px;
    background-color: white;
    margin: 40px; 
    padding :0 40px;
}
.tabcontent button:hover {
    background-color: lightgray;
}