<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trips & Hotels Bookings</title>
</head>

<body>
    <section class="header">

    </section>

    <section class="search">
        <form action="">
            <input type="text" name="query" [(ngModel)]="query"id="searchbar"placeholder="Search Bookings & Flights">
            <a class="btn btn-primary" [routerLink]="['/search',query]">Search</a>
        </form>
    </section>
</body>

</html>