body {
    font-family: 'Poppins', serif;
    height: 100vh;
}

html {
    font-size: 14px;
}

.header-text {
    text-align: center;
    font-size: 50px;
}

.tabs {
    overflow: hidden;
    text-align: center;
    padding: 30px;
}

.tabs button {
    background-color: white;
    text-align: center;
    border: none;
    color: black;
    font-size: 30px;
    padding: 16px 32px;
    cursor: pointer;

}

.tabs button:hover {
    opacity: 0.6;
    text-decoration: underline;
}

.tabs button.active {
    text-decoration: underline;
}

.tabs button span {
    padding-left: 10px;
}

.tabcontent {
    display: none;
    text-align: center;
    display: inline-block;
    position: relative;
}

.tabcontent input {
    border-radius: 25px;
    width: 90%;
    height: 60px;
    border: 0.2px groove lightgray;
    font-size: 20px;
    color: black;
    background-image: url(../home/images/search.png);
    background-repeat: no-repeat;
    background-position: 0 14px;
    background-size: 30px 30px;
    padding: 0px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.tabcontent input:focus {
    border: 1px solid #555;
    
}

.tabcontent button {
    border-radius: 25px;
    font-size: 25px;
    background-color: black;
    margin: 40px;
    padding: 10px;
    margin-right: 4%;
    position: absolute;
    right:5px;
    top: -35px;
    color:white;
}

.tabcontent button:hover {
    opacity: 0.8;
    cursor: pointer;
    transform: opacity 0.3 ease;
}

.card-list {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap:25px;
}

.like-these-details {

    display: block;
    background: #fff;
    padding: 10px;
    border-radius: 12px;
    text-decoration: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}

.like-these-details:hover {
    border-color: #5372F0;
}

.photo {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    padding: 0 10px 0 0;
    border-radius: 10px;
}

.badge {
    color: #5372F0;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #DDE4FF;
    width: fit-content;
    border-radius: 50px;
}

.card .card-name {
    font-size: 1.19rem;
    color: #000;
    font-weight: 600;
}

.card .card-button {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: 30px 0 5 px;
    border: 2px solid #5372F0;
    background: none;
    cursor: pointer;
    color: #5372F0;
    transform: rotate(-45deg);
    transition: 0.4s ease;
}

.like-these-details:hover .card-button {
    color: #fff;
    background: #5372F0;
}


@media only screen and (max-width: 1999px) {

   
}
/* Extra Small (Mobile Portrait) */
@media (max-width: 480px) {
    /* Styles for small mobile phones */
}

/* Small (Mobile Landscape) */
@media (max-width: 768px) {
    /* Styles for larger mobile devices */
}

/* Medium (Tablets Portrait) */
@media (max-width: 1024px) {
    /* Styles for tablets */
}

/* Large (Tablets Landscape / Small Laptops) */
@media (max-width: 1280px) {
    /* Styles for smaller laptops */
   
       .tabcontent button{
        font-size: 20px;
        
    }
    .tablinks {
        font-size: 16px !important;

    }

    .tablinks span {
        font-size: 14px !important;
    }

  .like-these-details {
        width: 150px;
        
    }
    
    .card-list {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        gap:10px;
    }
}

/* Extra Large (Large Screens) */
@media (max-width: 1600px) {
    /* Styles for large screens and desktops */
    .tabcontent button{
        font-size: 16px;
        
    }
    .tablinks {
        font-size: 16px ;

    }

    .tablinks span {
        font-size: 16px ;
    }
   

    .like-these-details {
        width: 250px;
        
    }
    .card-list {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        gap:10px;
    }
}
@media (max-width: 1800px) {
    /* Styles for large screens and desktops */
    .tabcontent button{
        font-size: 24px;
        
    }
    .tablinks {
        font-size: 20px ;

    }

    .tablinks span {
        font-size: 18px ;
    }


    .like-these-details {
        width: 250px;
        
    }
    .card-list {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        gap:10px;
    }
}
@media (max-width: 2000px) {
    /* Styles for large screens and desktops */
    .tabcontent button{
        font-size: 24px;
        
    }
    .tablinks {
        font-size: 20px ;

    }

    .tablinks span {
        font-size: 18px ;
    }
    input{
        width:400px;
    }

 
    .card-list {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        gap:10px;
    }
}
