<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trips & Hotels Bookings</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />


    <style>
        .active {
            font-weight: bold;
            text-decoration: underline;
        }
    </style>
</head>



<body >

    <section class="header">
        <h1 class="header-text">Where are you headed?</h1>
        <div class="tabs">
            <button class="tablinks" onclick="openCity(event, 'SearchAll')">
                <span class="material-symbols-outlined">house</span>Search All
            </button>
            <button class="tablinks" onclick="openCity(event, 'Hotel')">
                <span class="material-symbols-outlined">apartment</span>Hotel
            </button>
            <button class="tablinks" onclick="openCity(event, 'Attractions')">
                <span class="material-symbols-outlined">attractions</span>Attractions
            </button>
            <button class="tablinks" onclick="openCity(event, 'Restaurant')">
                <span class="material-symbols-outlined">restaurant</span>Restaurant
            </button>
        </div>
      
        <form action="">
            <div id="SearchAll" class="tabcontent" style="display: block;">
                <input type="text" placeholder="Search for everything" name="query"class="query" [(ngModel)]="query"(keyup.enter)="navigateToRoute()">
               
                <a [routerLink]="['/search-all',query]"><button type="button"class="search" >Search</button></a>
                <a [routerLink]="['/search-all',query]"><button type="button"class="mobile_search" >Search</button></a>
            </div>
            <div id="Hotel" class="tabcontent" style="display: none;">
                <input type="text" placeholder="Search for Hotels" name="query"class="query" [(ngModel)]="query"(keyup.enter)="navigateToHotels()">
                <br>
                <a [routerLink]="['/search',query,'hotels']"><button type="button"class="search">Search</button></a>
                <a [routerLink]="['/search',query,'hotels']"><button type="button"class="mobile_search" >Search</button></a>
            </div>
            <div id="Attractions" class="tabcontent" style="display: none;">
                <input type="text" placeholder="Search for Attractions" name="query" class="query"[(ngModel)]="query"(keyup.enter)="navigateToAttractions()">
                <br>
                <a [routerLink]="['/search',query,'attractions']"><button type="button"class="search">Search</button></a>
                <a [routerLink]="['/search',query,'attractions']"><button type="button"class="mobile_search" >Search</button></a>
            </div>
            <div id="Restaurant" class="tabcontent" style="display: none;">
                <input type="text" placeholder="Search for Restaurant" name="query" class="query"[(ngModel)]="query"(keyup.enter)="navigateToRestaurant()">
                <br>
                <a [routerLink]="['/search',query,'restaurants']"><button type="button" class="search">Search</button></a>
                <a [routerLink]="['/search',query,'restaurants']"><button type="button"class="mobile_search" >Search</button></a>
            </div>
        </form>
    </section>

    <br><br>
    <hr>

    <h1 style="text-align: center;">You Might Like This</h1>
    <section class="like-these">

        <div class="card-wrapper">

            <div class="card-list ">

                <a href="#" class="like-these-details" *ngFor="let detail of details | slice:-3">

                    <div class="card ">

                        <img src="{{detail.image_url}}" class="photo">
                        <h1 class="badge">{{detail.address_obj.country}}</h1>
                        <p class="card-name">{{detail.name}}</p>

                        <a [routerLink]="['/details',detail.location_id]"><button class="card-button material-symbols-outlined">arrow_forward</button></a>

                    </div>

                </a>
            </div>
        </div>
    </section>
    

    <script src="/src/scripts/functions.js"></script>
</body>

</html>