<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="tabs">
        <div class="header">
            <span class="material-symbols-outlined" id="location_symbol">
                location_on
            </span>
            <h1 class="header-text">Top Things To Do In </h1>

            <input type="text" class="query_text" (keyup.enter)="navigateBack()" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="query" value="{{query}}">



        </div>
        <p class="header-sub-text">Discover the Attractions, Hotels and Restaurants in {{query}}</p>
        <div class="tab">
            <div class="button">
                <button class="tablinks first" onclick="getCategory(event, 'Attractions')"><span
                        class="material-symbols-outlined">apartment</span>Attractions</button>
            </div>
            <div class="button">

                <button class="tablinks" onclick="getCategory(event, 'Hotel')"><span
                        class="material-symbols-outlined">attractions</span>Hotels</button>
            </div>
            <div class="button">

                <button class="tablinks last" onclick="getCategory(event, 'Restaurant')"><span
                        class="material-symbols-outlined">restaurant</span>Restaurants</button>
            </div>

        </div>
    </section>
    <section id="Attractions">
        <div class="container" *ngFor="let attractions of attraction; index as i">
            <div class="card">
                <h3 class="card-name">
                    {{i+1}}. {{attractions.name}}

                </h3>
                <div class="split-card">
                    <div class="inner-card">
                        <p>{{attractions.rating}}</p><img src="{{attractions.location_rating}}" alt="">
                        <p>( {{attractions.location_reviews}} reviews )</p>
                    </div>
                    <div class="inner-card2">
                        <img src="{{attractions.image_url}}" alt="">

                    </div>
                </div>

            </div>
        </div>
    </section>
    <section id="Hotel">
        <div class="container">
            <div class="card">
                <h3 class="card-name">
                    1. Hotel Name
                </h3>
            </div>
        </div>
    </section>
    <section id="Restaurant">
        <div class="container">
            <div class="card">
                <h3 class="card-name">
                    1. Restaurant Name
                </h3>
            </div>
        </div>
    </section>
</body>

</html>